/* cStudio --- */

/* Global Settings --- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color1: #fff;
	--color2: #000;
	--color3: #000;
	--color4: #d2d2d2;
}

/* Background Effect --- */

body {
	background-color: var(--color1);
	position: relative;
	max-width: 1000px;
	min-height: 100vh;
	margin: auto;
	padding: 0 15px;
}

.lines {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	margin: auto;
	z-index: -5;
}

.line {
	position: absolute;
	width: 1px;
	height: 100%;
	top: 0;
	left: 50%;
	background: rgba(0, 0, 0, 0);
	overflow: hidden;
	z-index: -5;
}

.line::after {
	content: '';
	display: block;
	position: absolute;
	height: 15vh;
	width: 100%;
	top: -50%;
	left: 0;
	background: linear-gradient(to bottom, var(--color4) 50%, var(--color4) 100%);
	animation: drop 7s 0s infinite;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line01 {
	margin-left: -25%;
}
.line01::after {
	animation-delay: 2.5s;
}

.line02 {
	margin-left: 0%;
}
.line02::after {
	animation-delay: 1.5s;
}

.line03 {
	margin-left: 25%;
}
.line03::after {
	animation-delay: 3s;
}

@keyframes drop {
	0% {
		top: -50%;
	}
	100% {
		top: 110%;
	}
}

/* Effects --- */

.fade {
	animation: fade-in 1s;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.slide-left {
	animation: slide-right 1s forwards;
}

@keyframes slide-right {
	0% {
		transform: translateX(15px);
	}
	100% {
		transform: translateX(0px);
	}
}

.slide-right {
	animation: slide-left 1s forwards;
}

@keyframes slide-left {
	0% {
		transform: translateX(-15px);
	}
	100% {
		transform: translateX(0px);
	}
}

.head h3 {
	transition: ease-in-out 0.15s;
}

.head h3:hover {
	color: var(--color4);
}

.links h5 {
	transition: ease-in-out 0.15s;
}

.links h5:hover {
	color: var(--color4);
}

.btn {
	transition: ease-in-out 0.15s;
}

.btn:hover {
	transition: ease-in 0.15s;
	transform: scale(1.2);
}

/* Styles --- */

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
	font-family: 'Barlow Condensed', sans-serif;
	color: var(--color2);
	font-weight: 300;
	padding-bottom: 15px;
}

h1 {
	font-size: 75px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 12px;
}

p {
	font-size: 15px;
	letter-spacing: 1.2px;
}

.btn {
	border-radius: 0;
	border: none;
	background: none;
	color: var(--color3);
	cursor: pointer;
}

.btn--dim {
	color: var(--color4);
}

/* Header --- */

.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 15px;
	border-bottom: 1px solid var(--color2);
}

.logo {
	padding: 15px 25px;
}

.nav ul {
	list-style-type: none;
	display: flex;
}

.nav li {
	padding: 15px 25px;
}

/* Footer --- */

.foot {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 15px;
	border-top: 1px solid var(--color2);
}

.copyright {
	padding: 15px 25px;
}

.links ul {
	list-style-type: none;
	display: flex;
}

.links li {
	padding: 15px 25px;
}

/* Content --- */

.section--50 {
	width: 50%;
	padding: 25px 15px;
}

.section--100 {
	width: 100%;
	padding: 25px 15px;
}

.section01 {
	display: flex;
}

.hero-img {
	width: 100%;
}

.slide-feature {
	display: flex;
	padding-top: 15px;
}

.slide {
	display: none;
	width: 0;
}

.slide--active {
	display: flex;
	width: 100%;
}

.port-img-cont {
	width: 35%;
}

.port-img {
	width: 100%;
}

.port-text-cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 65%;
	padding: 0 25px;
}

.port-btn-cont {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 25%;
}

.btn01,
.btn02 {
	font-size: 50px;
	padding: 5px;
}
