/* cStudio --- */

/* Global Settings --- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Background Effect --- */

body {
	position: relative;
	max-width: 1000px;
	min-height: 100vh;
	margin: auto;
	padding: 0 15px;
}

.lines {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	margin: auto;
	z-index: -5;
}

.line {
	position: absolute;
	width: 1px;
	height: 100%;
	top: 0;
	left: 50%;
	background: rgba(0, 0, 0, 0);
	overflow: hidden;
	z-index: -5;
}

.line::after {
	content: '';
	display: block;
	position: absolute;
	height: 15vh;
	width: 100%;
	top: -50%;
	left: 0;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 0%,
		#000 75%,
		#000 100%
	);
	animation: drop 7s 0s infinite;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line01 {
	margin-left: -25%;
}
.line01::after {
	animation-delay: 2.5s;
}

.line02 {
	margin-left: 0%;
}
.line02::after {
	animation-delay: 1.5s;
}

.line03 {
	margin-left: 25%;
}
.line03::after {
	animation-delay: 3s;
}

@keyframes drop {
	0% {
		top: -50%;
	}
	100% {
		top: 110%;
	}
}

/* Styles --- */

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
	font-family: 'Barlow Condensed', sans-serif;
	color: #000;
	font-weight: 300;
}

h1 {
	font-size: 75px;
}

h2 {
	font-size: 35px;
	padding-bottom: 15px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

p {
	font-size: 15px;
	letter-spacing: 1.2px;
}

/* Header --- */

.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 15px;
	border-bottom: 1px solid #000;
}

.logo {
	padding: 15px 25px;
}

.nav ul {
	list-style-type: none;
	display: flex;
}

.nav li {
	padding: 15px 25px;
}

/* Content --- */

.section--50 {
	width: 50%;
	padding: 25px 15px;
}

.section--100 {
	width: 100%;
	padding: 25px 15px;
}

.section01 {
	display: flex;
}

.hero-img {
	width: 100%;
}

.section02 p {
	padding-bottom: 15px;
}

.section03 p {
	padding-bottom: 25px;
}

.slide01 {
	display: flex;
}

.port-img {
	width: 25%;
}

.port-text-cont {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 50%;
	padding-left: 25px;
}
